<!-- Footer Start -->

<footer>
    <div class="container">
        <div class="col-md-10">
            <p class="copyright"><strong>Copyright © {{ site.time | date: "%Y" }}</strong> {{ site.author }}. 
                All rights reserved. <a href="https://www.mpip-mainz.mpg.de/347566/datenschutzhinweis">Privacy Policy</a> | <a href="https://www.mpip-mainz.mpg.de/2908/imprint">Imprint</a> </div>
        <div class="col-md-2">
            <p class="text-primary"><a href="https://RudzinskiGroup.com"><strong>RudzinskiGroup.com</strong></a></p>
        </div>
    </div>
</footer>

<!-- Footer End -->