<!-- Navigation Start -->
<nav class="navbar navbar-custom navbar-fixed-top{% if page.bluenavbar == true %} bluenavbar{% endif %}" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fas fa-bars"></i>
        </button>
        {% if page.section-type == "index" %}
          <a class="navbar-brand page-scroll" href="#page-top">
        {% else %}
          <a class="navbar-brand" href="{{site.baseurl}}/">
        {% endif %}
            <div class="logo">
              {{ site.title }}
            </div>
          </a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="firstlevel">
            <a href="{{site.baseurl}}/" class="firstlevelanchor">
              Home
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'pricing' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/research" class="firstlevelanchor">
              Research
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'trial' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/members" class="firstlevelanchor">
              Members
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'not-used-support' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/publications" class="firstlevelanchor">
              Publications
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/software" class="firstlevelanchor">
              Software
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/teaching" class="firstlevelanchor">
              Teaching
            </a>
          </li>
          <!-- <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/openings" class="firstlevelanchor">
              Openings
            </a>
          </li> -->
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/news" class="firstlevelanchor">
              News
            </a>
          </li>
          <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
            <a href="{{site.baseurl}}/_pages/contact" class="firstlevelanchor">
              Contact
            </a>
          </li>
         </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation End -->
  