<!-- Linklist Start -->
<section id="sitelinks">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <!-- <h5 class="exlink-heading">Placeholder heading</h5>
        <p class="small">Placeholder text</p> -->  
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
        <h5 class="exlink-heading">Location</h5>
        <p class="small">Max Planck Institute for Polymer Research
          <br> Ackermannweg 10
          <br> 55128 Mainz, Germany
          <br> rudzinski@mpip-mainz.mpg.de
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
        <h5 class="exlink-heading">Stay Connected</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/JFRudzinski" target="_blank" data-original-title="Twitter">
              <i class="fab fa-twitter-square fa-2x float" aria-hidden="true"></i>
            </a>
          </li>
          <!-- <li>
            <a href="https://www.youtube.com/user/glueckkanja" target="_blank" data-original-title="YouTube">
              <i class="fab fa-youtube-square fa-2x float" aria-hidden="true"></i>
            </a>
          </li> -->
          <!-- <li>
            <a href="https://www.linkedin.com/company/glueckkanja-gab" target="_blank" data-original-title="LinkedIn">
              <i class="fab fa-linkedin fa-2x float" aria-hidden="true"></i>
            </a>
          </li> -->
          <li>
            <a href="https://github.com/JFRudzinski" target="_blank" data-original-title="GitHub">
              <i class="fab fa-github-square fa-2x float" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Linklist End -->
  